@font-face {
    font-family: 'ApBold';
    src: url('fonts/ApercuPro-Bold.ttf');
}
@font-face {
    font-family: 'Apregular';
    src: url('fonts/ApercuPro.ttf');
}
@font-face {
    font-family: 'ApLight';
    src: url('fonts/ApercuPro-Light.ttf');
}
/*font-family:  "Apregular", sans-serif;
font-family:  "ApBold", sans-serif;
font-family:  "ApLight", sans-serif;*/
*,
*::after,
*::before {
	box-sizing: border-box;
}

/* Color schemes */
.graphMenu {
	--color-text: #fbd54a;
	--color-bg: #333;
	--color-link: #4d4f5f;
	--color-link-hover: #bfb5b5;
	--color-info: #fff;
	--color-main-bg: transparent;
	--path-fill-1: #A5EEC7;
	--path-fill-2: #54C3F2;
	--path-fill-3: #00A3FF;
	--color-title: #fff;
	--font-family-title:  "ApBold", sans-serif;
	--font-size-title: 5vmax;
	--font-weight-title: 400;
	--color-menu: #fff;
	--color-menu-hover: #fff;
	--font-family-menu: "ApBold", sans-serif;
	--font-size-menu: 4vmax;
	--font-weight-menu: bolder;
	--button-bg: transparent;
	--button-circle: #ada4a4;
	--button-line: #fff;
	z-index: 2000;
}

/* Fade effect */
a {
	text-decoration: none;
	color: #5d93d8;
	color: var(--color-link);
	outline: none;
	font-family:  "Apercu", sans-serif;
}


.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 0 1em 0 0;
	text-align: center;
	white-space: nowrap;
}

.codrops-icon {
	display: inline-block;
	margin: 0.15em;
	padding: 0.25em;
}

.demo-title {
	color: var(--color-title);
	font-family: var(--font-family-title);
	font-size: var(--font-size-title);
	font-weight: var(--font-weight-title);
}

.global-menu {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	padding: 50px 0;
	left: 0;
	top: 0;
	pointer-events: none;
	z-index: 2100;
}
.global-menu > .container{
	height: 100%;
}
.global-menu__item {
	color: var(--color-menu);
	font-family: var(--font-family-menu);
	font-size: 60px;
	font-weight: var(--font-weight-menu);
	opacity: 0;
	transform: translateY(-100%);
	pointer-events: none;
	display: block;
	margin:0;
	transition: transform 0.3s, opacity 0.3s;
	transition-timing-function: ease-in;
	cursor: default;
}

.global-menu__wrap_small > .global-menu__item{
	color: var(--color-menu);
	font-weight: var(--font-weight-menu);
	font-size: 28px;
	margin:0;
	line-height: 46px;
}
a.global-menu__item > span{
	position: relative;
	padding: 5px 0;
	cursor: pointer;
	font-family:  "ApBold", sans-serif;
}
a.global-menu__item > span::after{
	content: '';
	position: absolute;
	bottom: 0;
	background: white;
	height: 1px;
	width: 0;
	transition: .8s;
	display: block;
}
.global-menu__wrap_small > h2.global-menu__item{
	font-size: 36px;
	font-weight: var(--font-weight-menu);
	font-family:  "ApBold", sans-serif;
}
.global-menu__item--graphMenu {
	transition: transform 0.1s, opacity 0.1s;
	transform: translateY(100%);
	transition-timing-function: ease-out;
}
a.global-menu__item:hover{
	color: #fff;
}
a.global-menu__item > span:hover::after {
	width: 100%;
}

.global-menu__item.is-opened {
	opacity: 1;
	transform: translateY(0) rotate(0);
	pointer-events: auto;
	transition-timing-function: ease;
}
.global-menu__item:nth-of-type(1) {
	transition-delay: 0s;
}

.global-menu__item.is-opened:nth-of-type(1) {
	transition-delay: 0.85s;
}

.global-menu__item:nth-of-type(2) {
	transition-delay: 0.05s;
}

.global-menu__item.is-opened:nth-of-type(2) {
	transition-delay: 0.8s;
}

.global-menu__item:nth-of-type(3) {
	transition-delay: 0.1s;
}

.global-menu__item.is-opened:nth-of-type(3) {
	transition-delay: 0.75s;
}

.global-menu__item:nth-of-type(4) {
	transition-delay: 0.15s;
}

.global-menu__item.is-opened:nth-of-type(4) {
	transition-delay: 0.7s;
}
.global-menu__item:nth-of-type(5) {
	transition-delay: 0.2s;
}

.global-menu__item.is-opened:nth-of-type(5) {
	transition-delay: 0.65s;
}
.shape-overlays {
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
}

.shape-overlays.is-opened {
	pointer-events: auto;
}

.shape-overlays__path:nth-of-type(1) {
	fill: var(--path-fill-1);
}

.shape-overlays__path:nth-of-type(2) {
	fill: var(--path-fill-2);
}

.shape-overlays__path:nth-of-type(3) {
	fill: url(#MyGradient);
}

.shape-overlays__path:nth-of-type(4) {
	fill: var(--path-fill-4);
}

.hamburger {
	width: 32px;
	height: 32px;
	display: block;
	position: relative;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 110;
	border-radius: 50%;
	background-color: var(--button-bg);
	pointer-events: auto;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.menu-graph-text{
	position: absolute;
	left: -85px;
	top: 0;
}
.menu-graph-text>.menu,
.menu-graph-text>.closeMenu{
	margin: 0;
	color: white;
	font-size: 20px;
	font-weight: bold;
	display: none;
	transition-duration: .2s;
	transition-delay: .1s;
	opacity: 0;
	font-family:  "ApBold", sans-serif;
}
.menu-graph-text>.closeMenu{
	position: relative;
	left: -25px;
}
.menu-graph-text>.menu.show,
.menu-graph-text>.closeMenu.show{
	display: block;
	transition-delay: .2s;
	opacity: 1;
}
.hamburger__line {
	width: 28px;
	height: 2px;
	overflow: hidden;
	position: absolute;
	z-index: 10;
}

.hamburger__line-in {
	width: 84px;
	height: 2px;
	position: absolute;
	top: 0;
	left: 0;
}

.hamburger__line-in::before,
.hamburger__line-in::after {
	width: 28px;
	height: 2px;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	background-color: var(--button-line);
}

.hamburger__line-in::before {
	left: -56px;
}

.hamburger__line-in::after {
	left: 0;
}

.hamburger__line--01,
.hamburger__line--02,
.hamburger__line--03,
.hamburger__line--cross01,
.hamburger__line--cross02 {
	left: 0px;
}

.hamburger__line--01 {
	top: 9px;
}

.hamburger__line--02,
.hamburger__line--cross01,
.hamburger__line--cross02 {
	top: 15.3px;
}

.hamburger__line--03 {
	top: 21.6px;
}

.hamburger__line--cross01 {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.hamburger__line--cross02 {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.hamburger__line {
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger__line-in {
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger__line-in::before,
.hamburger__line-in::after {
	-webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
}

.hamburger__line-in--cross01,
.hamburger__line-in--cross02 {
	-webkit-transform: translateX(-33.3%);
	transform: translateX(-33.3%);
}

.hamburger__line-in--01 {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.hamburger__line-in--02 {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}

.hamburger__line-in--02::before,
.hamburger__line-in--02::after {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hamburger__line-in--03 {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.hamburger__line-in--03::before,
.hamburger__line-in--03::after {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hamburger__line-in--cross01 {
	-webkit-transition-delay: 0.0s;
	transition-delay: 0.0s;
}

.hamburger__line-in--cross02 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hamburger__line-in--cross02::before,
.hamburger__line-in--cross02::after {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hamburger.is-opened-navi .hamburger__line-in--01,
.hamburger.is-opened-navi .hamburger__line-in--02,
.hamburger.is-opened-navi .hamburger__line-in--03 {
	-webkit-transform: translateX(33.3%);
	transform: translateX(33.3%);
}

.hamburger.is-opened-navi .hamburger__line-in--cross01,
.hamburger.is-opened-navi .hamburger__line-in--cross02 {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.hamburger.is-opened-navi .hamburger__line-in--01 {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.hamburger.is-opened-navi .hamburger__line-in--02 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hamburger.is-opened-navi .hamburger__line-in--03 {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hamburger.is-opened-navi .hamburger__line-in--cross01 {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}

.hamburger.is-opened-navi .hamburger__line-in--cross02 {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.hamburger:hover .hamburger__line-in::before,
.hamburger:hover .hamburger__line-in::after {
	-webkit-transform: translateX(200%);
	transform: translateX(200%);
}

.hamburger:hover .hamburger__line-in--01::before,
.hamburger:hover .hamburger__line-in--01::after,
.hamburger:hover .hamburger__line-in--02::before,
.hamburger:hover .hamburger__line-in--02::after,
.hamburger:hover .hamburger__line-in--03::before,
.hamburger:hover .hamburger__line-in--03::after {
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.hamburger:hover .hamburger__line-in--cross01::before,
.hamburger:hover .hamburger__line-in--cross01::after,
.hamburger:hover .hamburger__line-in--cross02::before,
.hamburger:hover .hamburger__line-in--cross02::after {
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}

.hamburger.is-opened-navi:hover .hamburger__line-in--cross01::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross01::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross02::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross02::after {
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.hamburger.is-opened-navi:hover .hamburger__line-in--01::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--01::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--02::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--02::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--03::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--03::after {
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}

@media screen and (max-width: 1200px) {
	.global-menu__item {
		font-size: 40px;
	}

	.global-menu__wrap_small > .global-menu__item{
		font-size: 22px;
		margin:0;
	}
	.global-menu__wrap_small > h2.global-menu__item{
		font-size: 30px;
	}
}

@media screen and (max-width: 768px) {
	.global-menu__item {
		font-size: 30px;
	}
}

@media screen and (max-width: 576px) {
	.global-menu__item {
		font-size: 25px;
	}
	.menu-graph-text>.menu,
	.menu-graph-text>.closeMenu{
		font-size: 14px;
	}
	.menu-graph-text{
		left: -52px;
	}
	.menu-graph-text>.menu{
		margin-top: 5px;
	}
	.menu-graph-text>.closeMenu{
		display: none !important;
		visibility: hidden;
	}
}