.brand-area {
    .brant-item {
        width: 20%;
        float: left;
        margin: 150px 0px 95px 0px;
        text-align: center;
        display: flex;
        justify-content: center;

        img {
            max-width: 116px;
            max-height: 92px;
        }
    }
}