
/*---------------------
    ## Breadcumb 
----------------------*/  
  .breadcrumb-style-01 {
    width: 100%;
    min-height: 500px;
    background: url(../img/about-page/about.png);
    background-size: cover;
    position: relative;

    .breadcrumb-inner {
      position: absolute;
      color: var(--paragraph-color);
      text-align: center;
      top: 50%;
      left: 100%;
      width: 50%;
      transform: translate(-100%, -50%);

        h1 {
          font-size: 90px;
          font-family: var(--body-font);
          font-weight: 900;
        }

        .page-list {
          display: inline-table;
          margin-bottom: 10px;

          li {
            list-style: none;
            padding-right: 20px;
            position: relative;
            display: inline;
            font-size: 25px;
            font-family: var(--body-font);
            font-weight: 400;
            color: var(--paragraph-color);

            &:last-child:after {
              position: absolute;
              top: 0px;
              left: -15px;
              content: "/";
              font-family: 'fontawesome';
            }

            a:hover {
              color: var(--main-color);
            }
          }
        }
    }

    &:before {
      position: absolute;
      content: '';
      background: $gray99;
      top: 50%;
      left: 100%;
      width: 50%;
      transform: translate(-100%, -50%);
      height: 100%;
    }
  }