.customer-area {
    position: relative;
    margin-bottom: 118px;

    .quote-image-menu {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        img {
            border-radius: 6px;
            box-shadow: 0px 0px 10px $gray80;
        }

        li:nth-child(1) {
            img {
                width: 66px;
                height: 66px;
                position: absolute;
                top: 37%;
                left: 7%;
            }
        }
        li:nth-child(2) {
            img {
                width: 26px;
                height: 26px;
                position: absolute;
                top: 49%;
                left: 23%;
            }
        }
        li:nth-child(3) {
            img {
                width: 26px;
                height: 26px;
                position: absolute;
                top: 90%;
                left: 40%;
            }
        }

        li:nth-child(4) {
            img {
                width: 90px;
                height: 90px;
                position: absolute;
                top: 64%;
                left: 34%;
            }
        }

        li:nth-child(5) {
            img {
                width: 56px;
                height: 56px;
                position: absolute;
                top: 49%;
                left: 55%;
            }
        }

        li:nth-child(6) {
            img {
                width: 40px;
                height: 40px;
                position: absolute;
                top: 65%;
                left: 70%;
            }
        }
        li:nth-child(7) {
            img {
                width: 58px;
                height: 58px;
                position: absolute;
                top: 86%;
                left: 55%;
            }
        }

        li:nth-child(8) {
            img {
                width: 52px;
                height: 52px;
                position: absolute;
                top: 80%;
                left: 80%;
            }
        }

        li:nth-child(9) {
            img {
                width: 52px;
                height: 52px;
                position: absolute;
                top: 80%;
                left: 5%;
            }
        }

        li:last-child {
            &:before {
                position: absolute;
                content: '';
                background: url('../img/quote/quote-bg.png');
                width: 140px;
                height: 80px;
                top: 78%;
                left: -2%;
            }
        }
    }

    .content {
        h1 {
            font-size: 52px;
            font-family: var(--body-font);
            font-weight: 900;
            text-transform: capitalize;
            text-align: center;
            position: relative;

            span {
                display: block;
                color: var(--main-color);
            }

            &:before {
                content: '';
                position: absolute;
                height: 8px;
                background: var(--main-color);
                width: 20%;
                top: -15px;
            }
        }
    }

    .quote-slider {
        background: url("../img/home1/customer.png");
        padding: 85px 0px 115px 0px;
        margin-top: 100px;
        background-position: 70px 0px;
        background-repeat: no-repeat;
        
        .quote {
            position: relative;
            text-align: center;
        }

        .single-item {
            i {
                color: var(--main-color);
                font-size: 25px;
                border: 4px solid #000;
                width: 56px;
                height: 56px;
                padding-top: 14px;
                margin-bottom: 100px;
            }
            .image {
                float: left;
                width: 142px;
                height: 141px;
                border: 6px solid $gray99;
                margin-right: 13%;
                box-shadow: 0px 0px 7px $gray80;
                margin-left: 10px;

                img {
                    width: 132px;
                    height: 131px;
                }
            }
            .content {
                display: grid;
                p {
                    color: var(--paragraph-color);
                    font-size: 18px;
                    font-weight: 400;
                    padding-right: 45px;
                }

                .quote-name {
                    font-size: 20px;
                    font-weight: 600;
                    color: var(--heading-color);
                    margin-top: 50px;
                }
            } 
        }

        .slick-prev {
            display: none !important;
        }

        .slick-next {
            left: 0;
            top: 91%;
            left: 6.5%;

            @media only screen and (max-width: 1400px) {
                left: 9%;
                top: 92%;
            }

            &:before {
                color: var(--heading-color);
                font-size: 50px;
                background: var(--main-color);
                color: $white;
                padding: 8px 25px;
            }
        }
    }
}
